@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$primary: #2980b9;
$light-gray: #f7f7f7;
$font-color: #333;
$font-family: 'Roboto', sans-serif;
$title-font: 'Varela Round', sans-serif;
$font-size: 1rem;
%default-border {
    border: 1px solid #ddd;
}